#root {
    font-family: Oswald, sans-serif;
    color: #153B50;
    background-color: #ECEBE4;
    justify-content: center;
  }
  
  .movieCard {
    background-color: #CC998D;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
  }
  
  #movieList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  #inputField {
    width: 300px;
  }
  
  #inputForm,
  h1 {
    margin-left: 40px;
  }
  
  button {
    background-color: #153B30 !important;
    
  }
  
  button:hover {
    background-color: #429ea6;

  }
  
  .editButton:hover, .deleteButton:hover{
    color: #429ea6;
  
  }

